.logo {
  line-height: 64px;
  letter-spacing: 0.225em;
  color: black;
}

.ant-menu-item-group-title {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.bg-gray-menu {
  /* background-color: rgb(250, 250, 250); */
  background-color: #F4F5F7;
}

.ant-menu-inline {
  border-right: unset;
}

.ant-layout-sider-trigger {
  border-right: 2px solid #e2e8f0;
}

.ant-menu .ant-menu-item {
  border-left: 3px solid white;
}

.ant-menu .ant-menu-item-selected {
  border-left: 3px solid;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-vertical {
  border-right: 1px;
  /* background-color: rgb(250, 250, 250); */
  background-color: #F4F5F7;
}

.border-r-1 {
  border-right: solid 1px;
}

.ant-layout-sider-light .ant-layout-sider-trigger {
  background-color: #F4F5F7;
}
