.logo {
  line-height: 64px;
  letter-spacing: 0.225em;
  color: black;
}

.ant-menu-item-group-title {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.ant-menu-inline {
  border-right: unset;
}

.ant-layout-sider-trigger {
  border-right: 2px solid #e2e8f0;
}
