.logo {
  line-height: 64px;
  letter-spacing: 0.225em;
  color: black;
}

.mainheader--new-dropdown .ant-btn:hover {
  color: white;
  border-color: white;
  border-style: solid;
}

.mainheader--icon:hover {
  background-color: rgba(201,220,242,0.2);
}
